* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.affix {
  margin-right: 20px;
}

img {
  max-width: 100%;
  height: auto; 
  display: block;
  margin: 0 auto;
}

.li-header {
  font-style: italic;
  font-weight: bold;
}

.bg-padding {
  padding: 15px;
  margin-bottom: 10px;
}

footer {
  padding-top: 40px;
}

pre {
  background-color: black;
  color: white;
}

pre code {
    word-wrap: normal;
    white-space: pre;
}

pre code strong {
  background-color: hsla(360, 100%, 100%, 0.2);
  padding: 3px 5px 3px 5px;
  margin-left: -5px;
  border-radius: 3px;
  line-height: 2;
}

// Add your fractal Sass files below!
@import 'navbar/navbar';
@import 'home/home';
@import 'android/android';

