* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

img {
  max-width: 100%;
  height: auto; 
  display: block;
}

// Add your fractal Sass files below!
@import 'navbar/navbar';
@import 'home/home';
@import 'android/android';
