#home {
  margin-top: 15%;

  @media (max-width: 480px) {
    .col-xs-7 {
      h1 {
        font-size: 25px;
        margin-top: 50px;
      }
    }
  }

  .home-container {
    height: 300px;
  }

  .phone-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 0;
  }

  @media (max-width: 480px) {
    .col-xs-3 {
      padding: 0;
    }
  }
}

.home-state {
  background-color: blue;
}